.wrapper{
    min-height: 100%;
    width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template: minmax(125px,auto)  1fr minmax(100px, auto) /1fr;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area:header;
    display: grid;
    grid-template: 125px / 161px 1fr minmax(auto,726px) 177px;
    align-items: center;
}
.header-logo{
    grid-column:2/3;
    display: grid;
    grid-template:  125px /55px minmax(auto, 245px) ;
}
.img-logo{
    width: 53px;
    height: 47px;
    background: url("../img/logo1.png");
    margin-top: 48px;
}
.text-logo{
    margin-top: 51px;
    margin-left: 8px;
}
.text-logo-up_down{
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-logo-up{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;

}
.text-logo-down{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

}
.header-logo:hover .text-logo-up_down{
    color:#F26522;
}
.header-logo:hover .img-logo {
    background: url("../img/logo2.png");
}
.header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}
.contacts{
    grid-column: 3/4;
    display: grid;
    grid-auto-flow: row;
    justify-items: flex-end;
    margin-top: 46px;
}
.contacts-data{
    color: #FFFFFF;
}
.contacts-data.email{
    padding-bottom: 19px;
}
.contacts-data.tel{
    padding-bottom: 17px;
}
.contacts-data:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #F26522;
}
.main{
    grid-area: main;
    display: grid;
    grid-template: 1fr / 161px 1fr  177px;
}
.gallery-tours{
    grid-column: 2/3;
}
.gallery-items{
    display: grid;
    grid-template: 2fr/repeat(3,minmax(300px, auto));
    justify-content: space-between;

}
.price-image{
    position: relative;
    overflow: hidden;
    padding: 2px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgb(240, 34, 14), rgb(227, 120, 20), rgb(207, 240, 12));
}
.price-image img{
    width: 300px;
    height: 220px;
}
.picture-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 37px;
}
.orange-hover{
    background: url("../img/Hover.jpg");
    position: absolute;
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    bottom: -55px;
    display: grid;
    grid-template: 2fr/ 1fr 1fr;
    padding: 7px 16px 12px 16px
}
.euro{
    grid-area: 2/1/3/2;
    padding-top: 8px;
}
.details{
    grid-area: 2/2/3/3;
    justify-self: flex-end;
    color: #FFFFFF;
}
.details:after{
    content:'>';
    margin-left: 16px;
}
.gallery-item:hover .orange-hover{
    bottom: 0;
    transition: .5s;
}
.gallery-item:hover .picture-title{
    color: #F26522;
}
.footer{
    display: grid;
    align-items: flex-end;
    justify-items: center;
}
.footer-text{
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
























